<% if current_user.profile.mobile.blank? %>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="sidebar-icon"><%= link_to raw('<span class="fa fa-mobile"></span>'), profile_path %></div>
    <h3>Never miss an alert from SeatShare</h3>
    <p>Add your mobile phone number to receive a text message when someone requests or assigns you a ticket.</p>
    <p><%= link_to 'Add Mobile Number', profile_path, class: 'btn btn-info' %></p>
  </div>
</div>
<% end %>