<%= form_for :group, html: {class: "form-horizontal", role: "form"} do |f| %>

<fieldset>
  <legend>Group details</legend>

  <div class="form-group">
    <%= f.label :group_name, :class => 'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= f.text_field :group_name, :class => 'form-control', :placeholder => 'Cellblock 303', :value => @group.group_name %>
    </div>
  </div>

</fieldset>

<div class="row">
  <div style="text-align:right;">
    <%= f.submit 'Update Group', :class => 'btn btn-primary' %>
  </div>
</div>

<% end %>