<% content_for :page_title do %>SeatShare<% end %>
<% content_for :page_description do %>SeatShare<% end %>

<div>

  <p class="lead">
    <strong>Your account is now ready!</strong> Just one more thing before you can begin sharing your tickets.
  </p>

</div>

<div class="row">

  <div class="col-md-6">
    <div class="well">
      <h2>Create a Group</h2>
      <p>Invite your group members to create their accounts and join your group. You can still join a group later.</p>
      <p class="text-right">
        <%= link_to 'Create a Group', groups_new_path, :class => 'btn btn-primary' %>
      </p>
    </div>
  </div>

  <div class="col-md-6">
    <div class="well">
      <h2>Join a Group</h2>
      <p>Simply enter your access code on the next page to join an existing group. You can join more than one group.</p>
      <p class="text-right">
        <%= link_to 'Join a Group', groups_join_path, :class => 'btn btn-primary' %>
      </p>
    </div>
  </div>

</div>

<% content_for :page_footer do %>
<% end %>
