<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "EmailMessage",
  "action": {
    "@type": "ConfirmAction",
    "name": "Reset Password",
    "handler": {
      "@type": "HttpActionHandler",
      "url": "<%= url_for edit_password_url(@resource, reset_password_token: @token) %>"
    }
  },
  "description": "Reset your SeatShare password."
}
</script>

<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
