# Rename this file to local_env.yml
# Add account settings and API keys here.
# This file should be listed in .gitignore to keep your settings secret!
# Each entry gets set as a local environment variable.
# This file overrides ENV variables in the Unix shell.
# For example, setting:
# GMAIL_USERNAME: 'Your_Gmail_Username'
# makes 'Your_Gmail_Username' available as ENV["GMAIL_USERNAME"]

SEATSHARE_S3_KEY: 'the_s3_key'
SEATSHARE_S3_SECRET: 'the_s3_secret'
SEATSHARE_S3_BUCKET: 'lockbox.seatsha.re'
SEATSHARE_S3_PUBLIC: 'https://lockbox.myseatshare.com'

MAILCHIMP_API_KEY: 'the_api_key'
MAILCHIMP_LIST_ID: 'the_list_id'

SIMPLE_FORM_API_TOKEN: 'the_private_token'
SIMPLE_FORM_FORM_API_TOKEN: 'the_public_token'

SODA_USERNAME: 'the_soda_username'
SODA_PASSWORD: 'the_soda_password'
SODA_ENVIRONMENT: 'development'

# These values are production only
# MANDRILL_SMTP_USER: 'mandrill_user'
# MANDRILL_SMTP_PASS: 'mandril_password'
# MANDRILL_SMTP_HOST: 'mandrill_hostname'
# GOOGLE_ANALYTICS_ID: 'google_analytics_id'
# MIXPANEL_API_KEY: 'mixpanel_api_key'