# Rename this file to local_env.yml
# Add account settings and API keys here.
# This file should be listed in .gitignore to keep your settings secret!
# Each entry gets set as a local environment variable.
# This file overrides ENV variables in the Unix shell.
# For example, setting:
# GMAIL_USERNAME: 'Your_Gmail_Username'
# makes 'Your_Gmail_Username' available as ENV["GMAIL_USERNAME"]

SEATSHARE_S3_KEY: 'the_s3_key'
SEATSHARE_S3_SECRET: 'the_s3_secret'
SEATSHARE_S3_BUCKET: 'lockbox.seatsha.re'
SEATSHARE_S3_PUBLIC: 'https://lockbox.seatsha.re'