<div class="jumbotron">
	<h1 class="text-center">Sold Out <em>Already?!</em></h1>
	<p class="lead text-center">Not quite, but the page you are looking for could not be found.</p>
</div>

<ul class="list-inline text-center">
	<li><%= link_to 'New SeatShare Account', new_user_registration_path, class: 'btn btn-default' %></li>
	<li><%= link_to 'Home Page', :root, class: 'btn btn-default' %></li>
</ul>
