/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require select2
 *= require select2-bootstrap-theme
 *= require_directory .
 */

@import "bootstrap";
@import "font-awesome";

$break-small: 320px;
$break-large: 1200px;

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

/* Table Cells */
th.action {
  width: 40px;
}
th.cost {
  width: 135px;
  min-width: 120px;
}

/* Group Members */
ul.group-members li {
  margin-bottom: 0.25em;
}

/* Sidebar Icon */
.sidebar-icon {
  float: right;
  font-size: 10em;
  line-height: 0;
  margin-left: 0.1em;
  opacity: 0.4;
  text-align: center;
  width: 1em;
}

/* Navbar */
.navbar-inverse {
  background-color: #4963AE;
  border-color: #4963AE;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-brand a {
  color: #ffffff;
}
.navbar-inverse .logo {
  background-image: image-url('seatshare-inverted.svg');
  background-size: 150px 50px;
  background-repeat: no-repeat;
  height: 50px;
  width: 150px;
  overflow: hidden;
}
.navbar-inverse .logo a {
  margin: 0;
  display: block;
  width: 165px;
  padding-top: 50px;
}

/* Data Credit */
.data-credit img {
  height: 25px;
}

/* Action Well */
.well-actions ul {
  margin-bottom: 0;
}

/* Tooltips */
[data-toggle="tooltip"] {
  cursor: pointer;
}

/* User Steps */
ol.user-steps {
  padding-left: 0;
  list-style: none;
}
@media screen and (min-width: $break-large) {
  ol.user-steps {
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
  }
  ol.user-steps > li {
    position: relative;
    padding-left: 60px;
    min-height: 60px;
  }
  ol.user-steps > li:before {
    content: counter(li);
    counter-increment: li;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    border-radius: 50%;
    font-size: 18px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* Changelog */
#HW_badge_cont {
  width: 16px !important;
  height: 16px !important;
}
#HW_badge {
  top: 0 !important;
  bottom: 0 !important;
}
.HW_visible {
  z-index: 99999 !important;
}

/* Form Errors */
#error_explanation {
  border:solid 1px #000;
  margin-bottom: 1em;
  border-radius: 10px;
  h2 {
    color: #fff;
    background-color: red;
    border-radius: 10px 10px 0 0;
    margin: 0 0 1em 0;
    padding: 0.5em;
    font-size: 1em;
    font-weight: bold;
  }
  ul {
    list-style: outside;
    margin: 0 0 18px 0;
  }
}

/* Inline Images */
.image-text-inline {
  vertical-align: middle;
}
