
.clndr {
  table {
    width: 100%;
    margin-bottom: 2em;
  }
  .clndr-controls {
    clear: both;
  }
  td {
    &.header-day {
      font-weight: bold;
      border: solid 1px #ddd;
      text-align: center;
      padding: 4px;
    }
    &.day {
      border: solid 1px #ddd;
      text-align: center;
      padding: 4px;
      &.event {
        color: blue;
        background-color: whitesmoke;
        cursor: pointer;
        .has_tickets {
          width: 0;
          height: 0;
          border-top: 8px solid blue;
          border-left: 8px solid transparent;
          margin-top: -4px;
          margin-right: -4px;
          float: right;
        }
      }
      &.today {
        font-weight: bold;
      }
      &.adjacent-month {
        font-style: italic;
        color: #428bca;
        opacity: 0.1;
        &.event {
          color: blue;
          background-color: #fff;
        }
      }
    }
  }
  div.clndr-controls div {
    text-align: center;
    display: block;
    float: left;
    &.clndr-control-button {
      cursor: pointer;
      text-align: left;
      width: 20%;
      &.rightalign {
        text-align: right;
      }
    }
    &.month {
      line-height: 2em;
      font-size: 110%;
      font-weight: bold;
      width: 60%;
    }
  }
}