body.login {
  background-color: #4963AE;

  color: #fff;

  a {
    color: #fff;
    text-decoration: underline;
  }

  .toggle-password {
    color: inherit;
  }

  .toggle-password.enabled {
    color: #00f;
  }

  padding-top: 40px;
  padding-bottom: 40px;

  .remember-me label {
    font-weight: normal;
    font-size: 70%;
  }

  .help-block {
    color: #fff;
  }

  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;

    input[name="user[email]"] {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    input[name="user[password]"] {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .form-signin-heading, .checkbox {
      margin-bottom: 10px;
    }
    .checkbox {
      font-weight: normal;
    }

    .form-control:focus {
      z-index: 2;
    }

  }

  div.logo {
    background-image: image-url('seatshare-inverted.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px 100px;
    width: 300px;
    height: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
  }

  div.logo a {
    display: block;
    width: 300px;
    padding-top: 100px;
  }
}