// Place all the styles related to the Public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Teams Page */
.teams-header {
	margin-top: -1.5em;
	background-image: image-url('teams-background.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	color: #fff;
}