<% content_for :page_title do %>Terms of Service - SeatShare<% end %>
<% content_for :page_description do %>The Terms of Service for SeatShare are the rules that govern access and use of the website.<% end %>

<h1>Terms of Service</h1>

<p><em>Effective Jaunary 17, 2014</em></p>

<p class="lead">Before using SeatShare, you must agree to the following terms and conditions. If you do not agree to these terms, you must discontinue use of SeatShare immediately.</p>

<h3>Parties</h3>

<p>This Terms of Service Agreement ("the agreement") is agreed upon by SeatShare, provider of SeatShare software ("the service"), and its user ("the user", "you"). You certify that you are of legal age to enter into such an agreement by agreeing to these terms.</p>

<h3>The Service</h3>

<p>SeatShare is a web-based software platform that fascilitates the management of season tickets among a group of associated individuals. The service allows users to request, assign or exchange tickets.</p>

<h3>Account Security</h3>

<p>SeatShare makes all reasonable efforts to protect the information of our users. Users are responsible for maintaining the secrecy of account credentials (usernames, passwords, etc.).</p>

<h3>Payments and Fees</h3>

<p>SeatShare allows users to request and assign tickets to other users. The tickets may have a price for sale listed with them. SeatShare does not at this time collect money on behalf of other users. Compensation is agreed upon by the two parties involved. By using this site, you agree that SeatShare is not responsible for collecting any money owed to you nor are we responsible for making payments on your behalf.</p>

<h3>Ticket File Attachments</h3>

<p>SeatShare provides a mechanism by which the user may upload files, such as event tickets or parking passes, to our servers for the purpose of another user downloading those files upon being assigned a ticket. Only tickets, passes and related material are permitted to be uploaded to our servers. Other content will be removed. SeatShare does not guarantee that uploaded files are retained beyond thirty (30) days after the event for which they were intended for use. SeatShare reserves the right to limit user uploads.</p>

<h3>Accuracy of Information</h3>

<p>SeatShare makes all reasonable efforts to ensure information presented within the application is accurate. This information may include event schedules, ticket details and group information. By using this site, you agree to hold SeatShare harmless should any presented information prove to be inaccurate.</p>

<h3>Termination</h3>

<p>SeatShare may terminate this service and/or your user account at any time.</p>

<h3>Indemnification</h3>

<p>The user agrees to indemnify SeatShare against any claims by third parties arising from conduct of the user under this agreement.</p>

<% content_for :page_footer do %>
<% end %>
