<% if @entity.seatgeek? %>
<p class="data-credit text-muted text-right"><small>Data powered by <%= link_to image_tag('seatgeek.svg', :class => '', :alt => "SeatGeek", :title => "SeatGeek Logo"), 'http://seatgeek.com/', :target => '_blank' %>.</small>
</p>
<% end %>
