<% if @entity.seatgeek? %>
<p class="data-credit text-muted text-right">Data powered by <%= link_to image_tag('seatgeek.svg', :class => '', :alt => "SeatGeek", :title => "SeatGeek Logo"), 'https://seatgeek.com/', :target => '_blank' %>.</p>
<% end %>
